{% extends 'base/baseContact.html' %}


{% block contenido %}
<div class="col-12">
    <div class="form-main">
		{% if request.user.groups.get.name == 'Vendedor' %}
			<div class="title">
				<h3>Resumen</h3>
			</div>
            <section class="shop-services section home">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12">
							<!-- Start Single Service -->
							<div class="single-service">
								<i class="ti-shopping-cart"></i>
								<h4>Ventas Activas</h4>
								<p>{{resumen.0}}</p>
							</div>
							<!-- End Single Service -->
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<!-- Start Single Service -->
							<div class="single-service">
								<i class="fa fa-credit-card"></i>
								<h4>Pago por confirmar</h4>
								<p>{{resumen.1}}</p>
							</div>
							<!-- End Single Service -->
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<!-- Start Single Service -->
							<div class="single-service">
								<i class="ti-truck"></i>
								<h4>Productos por enviar</h4>
								<p>{{resumen.2}}</p>
							</div>
							<!-- End Single Service -->
						</div>
					</div>
				</div>
			</section>
		{% endif %}

		{% if request.user.groups.get.name == 'Comprador' %}
			<div class="title">
				<h3>Resumen</h3>
			</div>
			<section class="shop-services section home">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12">
							<!-- Start Single Service -->
							<div class="single-service">
								<i class="fa fa-shopping-basket"></i>
								<h4>Compras Activas</h4>
								<p>{{resumen.0}}</p>
							</div>
							<!-- End Single Service -->
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<!-- Start Single Service -->
							<div class="single-service">
								<i class="fas fa-file-invoice-dollar"></i>
								<h4>Facturas por Pagar</h4>
								<p>{{resumen.1}}</p>
							</div>
							<!-- End Single Service -->
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<!-- Start Single Service -->
							<div class="single-service">
								<i class="fa fa-truck"></i>
								<h4>Productos por recibir</h4>
								<p>{{resumen.2}}</p>
							</div>
							<!-- End Single Service -->
						</div>
					</div>
				</div>
			</section>
		{% endif %}

    </div>
</div>
{% endblock contenido %}



{%block a%}

<!--Widgets resumen de la cuenta-->
{% if request.user.groups.get.name == 'Vendedor' %}
<div class="row">
	<div class="col-md-3 col-sm-6 col-12">
		<div class="info-box">
			<span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">Ventas</span>
				<span class="info-box-number">{{resumen.0}}</span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
	<!-- /.col -->
	<div class="col-md-3 col-sm-6 col-12">
		<div class="info-box">
			<span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">Ventas Nuevas</span>
				<span class="info-box-number">{{resumen.1}}</span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
	<!-- /.col -->
	<div class="col-md-3 col-sm-6 col-12">
		<div class="info-box">
			<span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">Pagos sin confirmar</span>
				<span class="info-box-number">{{resumen.2}}</span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
	<!-- /.col -->
	<div class="col-md-3 col-sm-6 col-12">
		<div class="info-box">
			<span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">Productos a enviar</span>
				<span class="info-box-number">{{resumen.3}}</span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
	<!-- /.col -->
</div>

<!--end widgets resumen cuenta-->

<!--Widget Venta-->
<div class="card card-primary">
	<div class="card-header">
		<h3 class="card-title">Ventas</h3>

		<div class="card-tools">
			<button type="button" class="btn btn-tool" data-card-widget="collapse">
				<i class="fas fa-minus"></i>
			</button>
			<button type="button" class="btn btn-tool" data-card-widget="remove">
				<i class="fas fa-times"></i>
			</button>
		</div>
	</div>
	<div class="card-body" style="display: block;">
		<div class="chart">
			<div class="chartjs-size-monitor">
				<div class="chartjs-size-monitor-expand">
					<div class=""></div>
				</div>
				<div class="chartjs-size-monitor-shrink">
					<div class=""></div>
				</div>
			</div>
			<canvas id="areaChart"
				style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 532px;"
				width="1064" height="500" class="chartjs-render-monitor"></canvas>
		</div>
	</div>
	<!-- /.card-body -->
</div>

{% endif %}

{% if request.user.groups.get.name == 'Comprador' %}
<div class="row">
	<div class="col-md-3 col-sm-6 col-12">
		<div class="info-box">
			<span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">Compras</span>
				<span class="info-box-number">{{resumen.0}}</span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
	<!-- /.col -->
	<div class="col-md-3 col-sm-6 col-12">
		<div class="info-box">
			<span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">Facturas</span>
				<span class="info-box-number">{{resumen.1}}</span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
	<!-- /.col -->
	<div class="col-md-3 col-sm-6 col-12">
		<div class="info-box">
			<span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">Envios</span>
				<span class="info-box-number">{{resumen.2}}</span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>

</div>

{% endif %}

{%endblock%}
