{% extends 'base/base_contenido.html' %}


{% block contenido %}
<table class="table shopping-summery">
    <thead>
        <tr class="main-hading">
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th class="text-center">Dirección</th>
        </tr>
    </thead>
    <tbody>
            
        <tr>
            
            <td class="price" data-title="Usuario"><span>{{contacto.usuario.username}} </span></td>
            <td class="price" data-title="Nombre"><span>{{contacto.usuario.first_name}} {{contacto.usuario.last_name}}</span></td>
            <td class="price" data-title="Telefono"><span>{{contacto.telefono}} </span></td>
            <td class="price" data-title="Correo"><span>{{contacto.usuario.email}} </span></td>
            <td class="price" data-title="Dirección"><span>{{contacto.direccion}} </span></td>
            
            </td>

        
        </tr>
            
        
    </tbody>
</table>
{% endblock contenido %}
    
    