{% extends 'base/base_contenido.html' %}

{% block contenido %}
<div class="contact-us">
    <div class="row">
        <section class="container-fluid">
            <div class="contactus">
                <div class="form-main">
                    <div class="Title">
                        <h3><i class="fa fa-file-text fa-1"></i> Factura</h3>
                    </div>
                    <table class="table shopping-summery">
                        <thead>
                            <tr class="main-hading">
                                <th>Nro</th>
                                <th>Fecha compra</th>
                                <th>Fecha entrega</th>
                                <th>Comprador</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="price" data-title="Fecha compra"><span>#00000{{venta.id}} </span></td>
                                <td class="price" data-title="Nro"><span>{{venta.created.date}}</span></td>

                                {% if not venta.end_date %}
                                    <td class="price" data-title="Fecha entrega"><span>Indefinido</span></td>
                                {% else %}
                                    <td class="price" data-title="Fecha entrega"><span>{{venta.end_date.date}}</span></td>
                                {% endif %}


								<td class="price" data-title="Comprador"><span><a href="{% url 'DatosDeContactoTemplateView' venta.user.id %}">{{venta.user}} <i class="fa fa-id-card"></i></a></span></td>
								    <td class="price" data-title="Estado">{{venta.operating_status}}</td>
							</tr>
                        </tbody>
                    </table>
                    <div class="Title">
                        <h3><i class="fa fa-shopping-cart"></i> Venta</h3>
                    </div>
                    <table class="table shopping-summery">
                        <thead>
                            <tr class="main-hading">
                                <th>Nro</th>
                                <th>Producto</th>
                                <th>Precio</th>
                                <th>Cantidad</th>

                                {% if venta.product.get_discount %}
                                    <th>Descuento</th>
                                {% endif %}


                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="price" data-title="Nro.Producto"><span>#00000{{venta.product.id}}</span></td>
                                <td class="price" data-title="Descripción">
                                    <span><a href="/producto/{{venta.product.id}}">{{venta.product.name}}</a></span>
                                </td>
                                <td class="price" data-title="Precio"><span>{{venta.product.price}}$</span></td>
                                <td class="price" data-title="Cantidad"><span>{{venta.quantity}}</span></td>
                                {% if venta.product.get_discount %}
                                    <td class="price" data-title="Descuento"><span>{{venta.discount}}%</span></td>
                                {% endif %}
                                <td class="price" data-title="Total"><span>{{venta.total}}%</span></td>
							</tr>
                        </tbody>
                    </table>
                    <div class="Title">
                        <h3><i class="fa fa-truck"></i> Datos de pago</h3>
                    </div>
                    <table class="table shopping-summery">
                        <thead>
                            <tr class="main-hading">
                                <th>Nro Referencia</th>
                                <th>Recibo</th>
                                <th>Fecha de pago</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                {% if datosPago == 'Indefinido' %}
                                    <td class="price" data-title="Nro Referencia"><span>{{datosPago}}</span></td>
                                    <td class="price" data-title="Recibo"><span><a href="">{{datosPago}}</a></span></td>
                                    <td class="price" data-title="Fecha de pago"><span>{{datosPago}}</span></td>
                                {% else %}
                                    <td class="price" data-title="Nro Referencia"><span>#{{datosPago.nroRef}}</span></td>
                                    <td class="price" data-title="Recibo"><span><a href="">{{datosPago.recibo}}</a></span></td>
                                    <td class="price" data-title="Fecha de pago"><span>{{datosPago.fecha_pago}}</span></td>
                                {% endif %}
							</tr>
                        </tbody>
                    </table>
                    <div class="Title">
                        <h3><i class="fa fa-truck"></i>  Datos de envio</h3>
                    </div>
                    <table class="table shopping-summery">
                        <thead>
                            <tr class="main-hading">
                                <th>Nombre</th>
                                <th>Cedula</th>
                                <th>Telefono</th>
                                <th>Direccion</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% if datosEnvio == 'Indefinido' %}
                                <td class="price" data-title="Nombre">Indefinido</td>
                                <td class="price" data-title="Cedula">Indefinido</td>
                                <td class="price" data-title="Telefono">Indefinido</td>
                                <td class="price" data-title="Dirección">Indefinido</td>
                            {% else %}
                                <td class="price" data-title="Nombre">{{datosEnvio.name}}</td>
                                <td class="price" data-title="Cedula">{{datosEnvio.dni}}</td>
                                <td class="price" data-title="Telefono">{{datosEnvio.phone}}</td>
                                <td class="price" data-title="Dirección">{{datosEnvio.address}}</td>
                            {% endif %}

                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    <!--Factura-->


    </div>
</div>
{% endblock contenido %}


<div class="contact-us">
    <div class="row">
    <!--Factura-->
    <div class="col-lg-6 col-12">
                    <div class="single-head">
                        <div class="single-info">
                            <h4 class="title">Factura</h4>
                            <ul>
                                <li>Nro.Factura: #00000{{venta.id}}</li>
                                <li>Fecha: 12/12/2021</li>
                                <li>Nombre: {{venta.user.username}}</li>
                                <li>------------------------</li>
                                <li>#00{{venta.product.id}} - {{venta.product.name x 2 - {{venta.product.price}}$ </li>
                                <li>------------------------</li>
                                <li>Total: 12$ </li>
                                <li>------------------------</li>
                            </ul>


                        </div>
                        <div class="single-info">
                            <h4 class="title">Datos de pago</h4>
                            <ul>

                                {% if datosPago %}
                                    <li>Nro.ref: #00000{{datosPago.nroRef}}</li>
                                    <li>Recibo: {{datosPago.recibo}}</li>
                                    <li>Fecha de pago: {{datosPago.fecha_pago}}</li>
                                {% else %}
                                    <li>Nro.ref: Indefinido</li>
                                    <li>Recibo: Indefinido</li>
                                    <li>Fecha de pago: Indefinido</li>
                                {% endif %}

                            </ul>
                        </div>

                        {% if operating_status_actual == 'Cancelado' %}
                            <ul>
                                <li>Estado de la venta: Cancelada</li>
                            </ul>
                        {% else %}
                            <form action="" method="post">
                                {% csrf_token %}
                                <input type="text" name="title" value="operating_status" hidden>
                                <input type="text" name="operating_status_actual" value="{{operating_status_actual}}" hidden>
                                <select name = "items" style="display: none;">
                                    {% for i in operating_status %}
                                        {% if i == operating_status_actual %}
                                            <option value="{{i}}" selected="">{{i}}</option>
                                        {%else%}
                                            <option value="{{i}}">{{i}}</option>
                                        {%endif%}

                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn">Guardar</button>
                            </form>
                            <form action="" method="post">
                                {% csrf_token %}
                                <input type="text" name="title" value="cancelar_venta" hidden>
                                <button type="submit" class="btn">Cancelar Venta</button>
                            </form>
                        {% endif %}
                    </div>
    </div>
    <div class="col-lg-6 col-12">
                    <div class="single-head">
                        <div class="single-info">
                            <h4 class="title">Datos de envio</h4>
                            <form action="" method="post">
                                {% csrf_token %}
                                <input type="text" name="title" value="datos_envios" hidden>

                                {% for i in form %}
                                    <h5>{{i.label}}</h5>
                                    <p>{{i}}</p>
                                {% endfor %}


                                {% if operating_status_actual != 'Cancelado' %}
                                    <button type="submit" class="btn">boton</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
    </div>

</div>
</div>
