{%extends 'base/base.html'%}
{%load static%}

{% block barraMenu %}

{% endblock barraMenu %}

{%block content%}

		<!-- Product Style -->
		<section class="product-area shop-sidebar shop section">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-4 col-12">
						<div class="shop-sidebar">

								<!-- Single Widget -->
								<div class="single-widget recent-post">
									<h3 class="title">Productos Recientes</h3>
									<!-- Single Post -->

									{% for producto in productosRecientes %}
										<div class="single-post first">
											<a href="/producto/{{producto.id}}/">
												<div class="image">
													<img src="{{producto.get_image}}" alt="#">
												</div>
											</a>
											<div class="content">
												<h5><a href="/producto/{{producto.id}}/">{{producto.nombre}}</a></h5>
												<p class="price">${{producto.precio}}</p>
												<ul class="reviews">
													<li class="yellow"><i class="ti-star"></i></li>
													<li class="yellow"><i class="ti-star"></i></li>
													<li class="yellow"><i class="ti-star"></i></li>
													<li class="yellow"><i class="ti-star"></i></li>
													<li class="yellow"><i class="ti-star"></i></li>
												</ul>
											</div>
										</div>
									{% endfor %}


									<!-- End Single Post -->

								</div>
								<!--/ End Single Widget -->
								<!-- Single Widget -->

						</div>
					</div>
					<div class="col-lg-9 col-md-8 col-12">
						<div class="row">
							<div class="col-12">
								<!-- Shop Top -->
								<div class="shop-top">
									<div class="middle-inner">
										<div class="container">
											<div class="row">
												{% if object_list %}
													<div class="col-lg-2 col-md-2 col-12" style="text-align: center">
														{% if page_obj.has_previous %}
															<a href="/buscar/?categories={{request.GET.categories}}&search={{request.GET.search}}&page={{page_obj.previous_page_number}}">Atrás</a>
														{% endif %}
													</div>
													<div class="col-lg-8 col-md-7 col-12" style="text-align: center;">

														{% for i in paginator.page_range %}
															<a href="/buscar/?{{request.GET.urlencode}}&page={{i}}">{{i}}</a>
														{% endfor %}

													</div>
													{% if page_obj.has_next %}
														<a href="/buscar/?categories={{request.GET.categories}}&search={{request.GET.search}}&page={{page_obj.next_page_number}}">Siguiente</a>
													{% endif %}
												{% else %}
													<div class="col-lg-2 col-md-2 col-12" style="text-align: center">
													</div>
													<div class="col-lg-8 col-md-7 col-12" style="text-align: center;">
														<h4>Sin resultados</h4>
													</div>
												{% endif %}
											</div>
										</div>
									</div>
								</div>
								<!--/ End Shop Top -->
							</div>
						</div>
						<div class="row">


								{% for i in object_list%}
									<div class="col-lg-4 col-md-6 col-12">
										<div class="single-product">
											<div class="product-img">
												<a href="{% url 'ProductDetailView' i.id%}">
													<!--<img class="default-img" src="/media/{{i.get_image}}" alt="#"> imagen de 550x750
													<img class="hover-img" src="/media/{{i.get_image}}" alt="#">-->
													<img class="default-img" src="{{i.get_image}}" alt="#"> <!--imagen de 550x750-->
													<img class="hover-img" src="{{i.get_image}}" alt="#">
												</a>
												<div class="button-head">
													<div class="product-action-2">
														<a title="Add to cart" href="{% url 'ProductDetailView' i.id %}"><i class="fa fa-shopping-cart"></i> Comprar</a>
													</div>
												</div>
											</div>
											<div class="product-content">
												<h3><a href="{% url 'ProductDetailView' i.id%}">{{i.nombre}}</a></h3>
												<div class="product-price">
													<span>{{i.precio}}$</span>
												</div>
											</div>
										</div>
									</div>
								{%endfor%}





						</div>
					</div>
				</div>
			</div>
			<!-- Shop Top -->
			<div class="shop-top">
				<div class="middle-inner">
					<div class="container">
						<div class="row">
							<div class="col-lg-2 col-md-2 col-12" style="text-align: center">
								{% if page_obj.has_previous %}
									<a href="/buscar/?categories={{request.GET.categories}}&search={{request.GET.search}}&page={{page_obj.previous_page_number}}">Atrás</a>
								{% endif %}
							</div>
							<div class="col-lg-8 col-md-7 col-12" style="text-align: center;">

								{% for i in paginator.page_range %}
									<a href="/buscar/?{{request.GET.urlencode}}&page={{i}}">{{i}}</a>
								{% endfor %}

							</div>
							{% if page_obj.has_next %}
								<a href="/buscar/?categories={{request.GET.categories}}&search={{request.GET.search}}&page=&page={{page_obj.next_page_number}}">Siguiente</a>

							{% endif %}
						</div>
					</div>
				</div>
			</div>
			<!--/ End Shop Top -->
		</section>
		<!--/ End Product Style 1  -->





		<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ti-close" aria-hidden="true"></span></button>
						</div>
						<div class="modal-body">
							<div class="row no-gutters">
								<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
									<!-- Product Slider -->
										<div class="product-gallery">
											<div class="quickview-slider-active">
												<div class="single-slider">
													<img src="https://via.placeholder.com/569x528" alt="#">
												</div>
												<div class="single-slider">
													<img src="https://via.placeholder.com/569x528" alt="#">
												</div>
												<div class="single-slider">
													<img src="https://via.placeholder.com/569x528" alt="#">
												</div>
												<div class="single-slider">
													<img src="https://via.placeholder.com/569x528" alt="#">
												</div>
											</div>
										</div>
									<!-- End Product slider -->
								</div>
								<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
									<div class="quickview-content">
										<h2>Flared Shift Dress</h2>
										<div class="quickview-ratting-review">
											<div class="quickview-ratting-wrap">
												<div class="quickview-ratting">
													<i class="yellow fa fa-star"></i>
													<i class="yellow fa fa-star"></i>
													<i class="yellow fa fa-star"></i>
													<i class="yellow fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<a href="#"> (1 customer review)</a>
											</div>
											<div class="quickview-stock">
												<span><i class="fa fa-check-circle-o"></i> in stock</span>
											</div>
										</div>
										<h3>$29.00</h3>
										<div class="quickview-peragraph">
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste laborum ad impedit pariatur esse optio tempora sint ullam autem deleniti nam in quos qui nemo ipsum numquam.</p>
										</div>
										<div class="size">
											<div class="row">
												<div class="col-lg-6 col-12">
													<h5 class="title">Size</h5>
													<select>
														<option selected="selected">s</option>
														<option>m</option>
														<option>l</option>
														<option>xl</option>
													</select>
												</div>
												<div class="col-lg-6 col-12">
													<h5 class="title">Color</h5>
													<select>
														<option selected="selected">orange</option>
														<option>purple</option>
														<option>black</option>
														<option>pink</option>
													</select>
												</div>
											</div>
										</div>
										<div class="quantity">
											<!-- Input Order -->
											<div class="input-group">
												<div class="button minus">
													<button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
														<i class="ti-minus"></i>
													</button>
												</div>
												<input type="text" name="quant[1]" class="input-number"  data-min="1" data-max="1000" value="1">
												<div class="button plus">
													<button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
														<i class="ti-plus"></i>
													</button>
												</div>
											</div>
											<!--/ End Input Order -->
										</div>
										<div class="add-to-cart">
											<a href="#" class="btn">Add to cart</a>
											<a href="#" class="btn min"><i class="ti-heart"></i></a>
											<a href="#" class="btn min"><i class="fa fa-compress"></i></a>
										</div>
										<div class="default-social">
											<h4 class="share-now">Share:</h4>
											<ul>
												<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a class="youtube" href="#"><i class="fa fa-pinterest-p"></i></a></li>
												<li><a class="dribbble" href="#"><i class="fa fa-google-plus"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Modal end -->



{%endblock%}
