{% extends 'base/base_contenido.html' %}	

{% block content %}
<form action="" method="post">
	<!-- Shopping Cart -->
	<div class="shopping-cart section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Shopping Summery -->
					<table class="table shopping-summery">
						<thead>
							<tr class="main-hading">
								<th>Producto</th>
								<th>Nombre</th>
								<th class="text-center">Precio U.</th>
								<th class="text-center">Cantidad</th>
								<th class="text-center">Total</th> 
								<th class="text-center"><i class="ti-trash remove-icon"></i></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="image" data-title="No"><img src="{{producto.get_image}}" alt="#"></td>
								<td class="product-des" data-title="Description">
									<p class="product-name"><a href="#">{{producto.nombre}}</a></p>
									<p class="product-des">{{producto.descripcion|slice:140}}...</p>
								</td>
								<td class="price" data-title="Price"><span>${{producto.precio}} </span></td>
								<td class="qty" data-title="Qty"><!-- Input Order -->
									<div class="input-group">
										<div class="button minus">
											<button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
												<i class="ti-minus"></i>
											</button>
										</div>
										<input id="cantidad" type="text" name="quant[1]" class="input-number"  data-min="1" data-max="100" value="1">
										
										{% if cantidad_error %}
											<label>{{cantidad_error}}</label>
										{% endif %}
											
										<div class="button plus">
											<button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
												<i class="ti-plus"></i>
											</button>
										</div>
									</div>
									<!--/ End Input Order -->
								</td>
								<td class="total-amount" data-title="Total">
									<input id="precio" type="num" value="{{producto.precio}}" hidden>
									<span id="total">${{producto.precio}}</span>
								</td>
								<td class="action" data-title="Remove"><a href="#"><i class="ti-trash remove-icon"></i></a></td>
							</tr>
						</tbody>
					</table>
					<!--/ End Shopping Summery -->
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<!-- Total Amount -->
					<div class="total-amount">
						<div class="row">
							<div class="col-lg-8 col-md-5 col-12">
								
							</div>
							<div class="col-lg-4 col-md-7 col-12">
								<div class="right">
									<ul>
										<li>Sub-Total<span id="sub_total">${{producto.precio}}</span></li>
										<li>Envio<span>Gratis</span></li>
										{% if producto.descuento %}
											<li>(-) Descuento
												<input id="descuento" type="num" value="{{producto.descuento.descuento}}" hidden>
												<span>{{producto.descuento.descuento}}%</span>
											</li>
										{% endif %}
										<li class="last">Total a pagar<span id="total_pagar">${{producto.sub_total}}</span></li>
									</ul>
									<!--<form action="" method="post">-->
										<div class="button5">
											{% csrf_token %}
											{{form}}
											<button type="submit" class="btn">Comprar</button>
										</div>
									<!--</form>-->
								</div>
							</div>
						</div>
					</div>
					<!--/ End Total Amount -->
				</div>
			</div>
		</div>
	</div>
	<!--/ End Shopping Cart -->
</form>

<script>
	$(document).ready(function(){
		$("#cantidad").change(function(){
			valor = $(this).val();
			precio = $("#precio").val();
			sub_total = valor*precio
			$("#total").html("$"+sub_total)
			$("#sub_total").html("$"+sub_total)
			descuento = $("#descuento").val()/100
			desc = 0
			if(!isNaN(descuento)){
				alert("Aa")
				desc = descuento*sub_total
			}
			
			sub_desc = sub_total-desc
			$("#total_pagar").html("$"+sub_desc)
		});
	});
</script>

{% endblock content %}
	
	
	
	