{% extends 'base/baseContact.html' %}


{% block contenido %}

<div class="contact-us">
    <div class="form-main">
            <div class="title">
                <h3>Datos de pago</h3>
            </div>
            <form class="form" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.errors}}
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="form-group">
                            <label>Nro de referencia<span>*</span></label>
                            {{form.nroRef}}
                            <label for="">{{form.errors.nroRef}}</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="form-group">
                            <label>Recibo<span>*</span></label>
                            <label style="display: block;">{{form.recibo}}</label>
                            <label for="">{{form.errors.recibo}}</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="form-group">
                            <label>Fecha de pago<span>*</span></label>
                            {{form.fecha_pago}}
                            <label for="">{{form.errors.fecha_pago}}</label>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group button">
                            <button type="submit" class="btn ">Guardar</button>
                        </div>
                    </div>
                </div>
            </form>
    </div>
</div>

{% endblock contenido%}
