{%extends 'base/base.html' %}
{%load static%}


{% block barraMenu %}

{% endblock barraMenu %}

{%block content%}
	<!-- Start Contact -->

	<section class="shop checkout section">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-12">
						<div class="contact-us">
							<div class="form-main" style="padding-top: 25px">
								<!--<div class="title">
									<h4>Get in touch</h4>
									<h3>Write us a message</h3>
									</div>
								-->
								<div class="blog-single section" style="padding: 0px">
									<div class="row">
										<div class="col-12">
											<div class="image">
												<img src="{{product.get_image}}" alt="#">
											</div>

											<div class="blog-detail">

												<h2 class="blog-title">{{product.name}}</h2>

												<div class="blog-meta">
													<span class="author"><a href="#"><i class="fa fa-user"></i>{{product.author}}</a><a href="#"><i class="fa fa-calendar"></i>{{product.created.date}}</a>
												</div>

												<div class="content">
													<p>{{product.description}}</p>
												</div>

												<div class="share-social">
													<div class="row">
														<div class="col-12">
															<div class="content-tags">
																<h4>Category:</h4>
																<ul class="tag-inner" style="padding-left: 90px;">
																	<li><a href="#">{{product.category.name}}</a></li>

																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="contact-us">
						<div class="single-head" style="padding: 15px 0px 30px 0px">

									<!-- Order Widget -->
									<div class="single-widget">
										<h2>Invoice</h2>
										<div class="content">
											<ul>
												<li>Sub Total<span>${{product.price}}</span></li>
												<li>(+) Shipping<span>Free</span></li>

												{% if product.discount %}
													<li>(-) 	Discount<span>{{product.discount.discount}}%</span></li>
												{% endif %}
												<li class="last">Total<span>${{product.sub_total}}</span></li>

											</ul>
										</div>
									</div>

									<div class="single-widget get-button">
										<div class="content">
											<div class="button">
												<a href="{% url 'BuyProductCreateView' product.id%}" class="btn">Buy <i class="fa fa-shopping-cart "></i></a>
												<ul class="navbar-nav">

												<!--<ul class="navbar-nav ml-auto">
												<li class="nav-item dropdown show">
													<a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="true">
													  <i class="far fa-bell"></i>
													  <span class="badge badge-warning navbar-badge">15</span>
													</a>
													<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right show" style="left: inherit; right: 0px;">
													  <span class="dropdown-item dropdown-header">15 Notifications</span>
													  <div class="dropdown-divider"></div>
													  <a href="#" class="dropdown-item">
														<i class="fas fa-envelope mr-2"></i> 4 new messages
														<span class="float-right text-muted text-sm">3 mins</span>
													  </a>
													  <div class="dropdown-divider"></div>
													  <a href="#" class="dropdown-item">
														<i class="fas fa-users mr-2"></i> 8 friend requests
														<span class="float-right text-muted text-sm">12 hours</span>
													  </a>
													  <div class="dropdown-divider"></div>
													  <a href="#" class="dropdown-item">
														<i class="fas fa-file mr-2"></i> 3 new reports
														<span class="float-right text-muted text-sm">2 days</span>
													  </a>
													  <div class="dropdown-divider"></div>
													  <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
													</div>
												</li>
												</ul>-->
											</div>
										</div>
									</div>
									<!--/ End Button Widget -->

						</div>
						</div>
					</div>
				</div>
			</div>
		</section>

{%endblock%}
