{% extends 'base/base.html' %}
{% load static %}

{% block barraMenu %}

{% endblock barraMenu %}


{% block content %}
<section class="hero-slider">
    <!-- Single Slider -->
    <div class="single-slider" style="background-image: url({% static 'recursos/img/base.jpg' %})">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-9 offset-lg-3 col-12">
                    <div class="text-inner">
                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <div class="hero-text">
                                    <h1><span>Discount 50% </span>Women's clothing</h1>
                                    <p>Because you deserve it
                                        <!--<br> dapibus disting tloctio in the find it pereri <br> odiy maboriosm.</p>-->
                                    <div class="button">
                                        <a href="/buscar/?categories=decV&amp;search=" class="btn">Buy now!</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Single Slider -->
</section>

<section class="small-banner section">
    <div class="container-fluid">
        <div class="row">
            <!-- Single Banner  -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-banner">
                    <img src="{% static 'recursos/img/ki.jpg' %}" height="370px" alt="#">
                    <div class="content">
                        <p>Children's collection</p>
                        <h3>For the spoiled of <br> the house</h3>
                        <a href="/buscar/?categories=Niños&search=">Buy now!</a>
                    </div>
                </div>
            </div>
            <!-- /End Single Banner  -->
            <!-- Single Banner  -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-banner">
                    <img src="{% static 'recursos/img/man5.jpg' %}" alt="#">
                    <div class="content">
                        <p>Men's collection</p>
                        <h3>To look good <br> and feel good</h3>
                        <a href="/buscar/?categories=Salud&search=">Buy now!</a>
                    </div>
                </div>
            </div>
            <!-- /End Single Banner  -->
            <!-- Single Banner  -->
            <div class="col-lg-4 col-12">
                <div class="single-banner tab-height">
                    <img src="{% static 'recursos/img/model.jpg' %}" alt="#">
                    <div class="content">
                        <p>Ventas Flash</p>
                        <h3>Ofertas flash <br> hasta <span>70%</span> menos</h3>
                        <a href="/buscar/?categories=decV&search=">Comprar ahora!</a>
                    </div>
                </div>
            </div>
            <!-- /End Single Banner  -->
        </div>
    </div>
</section>

<div class="product-area section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Top products</h2>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-info">
                    <div class="nav-main">
                        <!-- Tab Nav -->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#man"
                                    role="tab">Hombres</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#women"
                                    role="tab">Mujeres</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#kids" role="tab">Niños</a>
                            </li>
                        </ul>
                        <!--/ End Tab Nav -->
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <!-- Start Single Tab -->
                        <div class="tab-pane fade show active" id="man" role="tabpanel">
                            <div class="tab-single">
                                <div class="row">

                                    {% for product in man %}
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="{% url 'ProductDetailView' product.id %}">
                                                    <img class="default-img" src="{{product.get_image}}" alt="#">
                                                    <img class="hover-img" src="{{product.get_image}}" alt="#">

                                                    {% if product.discount %}
                                                    <span class="price-dec">{{product.discount.discount}}% -</span>
                                                    {% endif %}
                                                </a>
                                                <div class="button-head">
                                                    <div class="product-action-2">
                                                        <a title="Add to cart"
                                                            href="{% url 'ProductDetailView' product.id %}"><i
                                                                class="fa fa-shopping-cart"></i> Comprar</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h3><a
                                                        href="{% url 'ProductDetailView' product.id %}">{{product.name}}</a>
                                                </h3>
                                                <div class="product-price">
                                                    <span>${{product.price}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                        <!--/ End Single Tab -->
                        <!-- Start Single Tab -->
                        <div class="tab-pane fade" id="women" role="tabpanel">
                            <div class="tab-single">
                                <div class="row">

                                    {% for product in women %}
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="{% url 'ProductDetailView' product.id %}">
                                                    <img class="default-img" src="{{product.get_image}}" alt="#">
                                                    <img class="hover-img" src="{{product.get_image}}" alt="#">
                                                    {% if product.discount %}
                                                    <span class="price-dec">{{product.discount.discount}}% -</span>
                                                    {% endif %}
                                                </a>
                                                <div class="button-head">
                                                    <div class="product-action-2">
                                                        <a title="Add to cart"
                                                            href="{% url 'ProductDetailView' product.id %}"><i
                                                                class="fa fa-shopping-cart"></i> Comprar</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h3><a
                                                        href="{% url 'ProductDetailView' product.id %}">{{product.name}}</a>
                                                </h3>
                                                <div class="product-price">
                                                    <span>${{product.price}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!--/ End Single Tab -->
                        <!-- Start Single Tab -->
                        <div class="tab-pane fade" id="kids" role="tabpanel">
                            <div class="tab-single">
                                <div class="row">
                                    {% for product in kids %}
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="{% url 'ProductDetailView' product.id %}">
                                                    <img class="default-img" src="{{product.get_image}}" alt="#">
                                                    <img class="hover-img" src="{{product.get_image}}" alt="#">
                                                    {% if product.discount %}
                                                    <span class="price-dec">{{product.discount.discount}}% -</span>
                                                    {% endif %}
                                                </a>
                                                <div class="button-head">
                                                    <div class="product-action-2">
                                                        <a title="Add to cart"
                                                            href="{% url 'ProductDetailView' product.id %}"><i
                                                                class="fa fa-shopping-cart"></i> Buy</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h3><a
                                                        href="{% url 'ProductDetailView' product.id %}">{{product.name}}</a>
                                                </h3>
                                                <div class="product-price">
                                                    <span>${{product.price}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!--/ End Single Tab -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
