{% extends 'base/base_contenido.html' %}


{% block contenido %}

<div class="contact-us">
    <div class="row">
        <section class="container-fluid">
            <div class="contactus">
                <div class="form-main">
                    <div class="Title">
                        <h3><i class="fa fa-file-text fa-1" aria-hidden="true"></i> Factura</h3>

                    </div>
                    <table class="table shopping-summery">
                        <thead>
                            <tr class="main-hading">
                                <th>Nro</th>
                                <th>Fecha compra</th>
                                <th>Fecha entrega</th>
                                <th>Vendedor</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="price" data-title="Fecha compra"><span>#00000{{venta.id}} </span></td>
                                <td class="price" data-title="Nro"><span>{{venta.fecha_creada.date}}</span></td>

                                {% if not venta.fecha_cierre %}
                                    <td class="price" data-title="Fecha entrega"><span>Indefinido</span></td>
                                {% else %}
                                    <td class="price" data-title="Fecha entrega"><span>{{venta.fecha_cierre.date}}</span></td>
                                {% endif %}

								<td class="price" data-title="Vendedor"><span><a href="{% url 'DatosDeContactoTemplateView' venta.product.author.id %}">{{venta.product.author}} <i class="fa fa-id-card"></i></a></span></td>
                                <td class="price" data-title="Estado">{{venta.estado_operacion}}</td>
							</tr>
                        </tbody>
                    </table>
                    <div class="Title">
                        <h3><i class="fa fa-shopping-cart"></i> Mi compra</h3>
                    </div>
                    <table class="table shopping-summery">
                        <thead>
                            <tr class="main-hading">
                                <th>Nro</th>
                                <th>Product</th>
                                <th>Precio</th>
                                <th>Cantidad</th>

                                {% if venta.product.get_discount %}
                                    <th>Descuento</th>
                                {% endif %}


                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="price" data-title="Nro.product"><span>#00000{{venta.product.id}}</span></td>
                                <td class="price" data-title="Descripción">
                                    <span><a href="/producto/{{object.product.id}}">{{venta.product.name}}</a></span>
                                </td>
                                <td class="price" data-title="Precio"><span>{{venta.product.price}}$</span></td>
                                <td class="price" data-title="Cantidad"><span>{{venta.cantidad}}</span></td>
                                {% if venta.product.get_discount %}
                                    <td class="price" data-title="Descuento"><span>{{venta.discount}}%</span></td>
                                {% endif %}
                                <td class="price" data-title="Total"><span>{{venta.total}}$</span></td>
							</tr>
                        </tbody>
                    </table>
                    <div class="Title">
                        <h3><i class="fa fa-credit-card-alt"></i> Datos de pago</h3>
                    </div>
                    <table class="table shopping-summery">
                        <thead>
                            <tr class="main-hading">
                                <th>Nro Referencia</th>
                                <th>Recibo</th>
                                <th>Fecha de pago</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                {% if datosPago == 'Indefinido' %}
                                    <td class="price" data-title="Nro.Referencia"><span>{{datosPago}}</span></td>
                                    <td class="price" data-title="Recibo"><span><a href="">{{datosPago}}</a></span></td>
                                    <td class="price" data-title="Fecha pago"><span>{{datosPago}}</span></td>
                                    <td class="price" data-title="Opcion"><span><a href="{% url 'CrearDatosPagoCreateView' venta.id %}">Agregar pago</a></span></td>
                                {% else %}
                                    <td class="price" data-title="Nro.Referencia"><span>#{{datosPago.nroRef}}</span></td>
                                    <td class="price" data-title="Recibo"><span><a href="">{{datosPago.recibo}}</a></span></td>
                                    <td class="price" data-title="Fecha pago"><span>{{datosPago.fecha_pago}}</span></td>
                                    <td class="price" data-title="Opcion"><span><a href=" {% url 'UpdateDatosPagoUpdateView' venta.id %}">Editar pago</a></span></td>
                                {% endif %}
							</tr>
                        </tbody>
                    </table>
                    <div class="Title">
                        <h3><i class="fa fa-truck"></i> Datos de envio</h3>
                    </div>
                    <table class="table shopping-summery">
                        <thead>
                            <tr class="main-hading">
                                <th>Nombre</th>
                                <th>Cedula</th>
                                <th>Telefono</th>
                                <th>Direccion</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            {% if datosEnvio == 'Indefinido' %}
                                <td class="price" data-title="Nombre">Indefinido</td>
                                <td class="price" data-title="Cedula">Indefinido</td>
                                <td class="price" data-title="Telefono">Indefinido</td>
                                <td class="price" data-title="Dirección">Indefinido</td>
                                <td class="price" data-title="Opción"><a href="{% url 'CrearDatosEnvioCreateView' venta.id %}">Agregar</a></td>
                            {% else %}
                                <td class="price" data-title="Nombre">{{datosEnvio.nombre}}</td>
                                <td class="price" data-title="Cedula">{{datosEnvio.cedula}}</td>
                                <td class="price" data-title="Telefono">{{datosEnvio.telefono}}</td>
                                <td class="price" data-title="Dirección">{{datosEnvio.direccion}}</td>
                                <td class="price" data-title="Opción"><a href="{% url 'UpdateDatosEnvioUpdateView' venta.id %}">Editar datos de envio</a></td>
                            {% endif %}

                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    <!--Factura-->


    </div>
</div>
{% endblock contenido %}

<div class="col-lg-6 col-12">
    <div class="single-head">
        <div class="single-info">
            <!--<h4 class="title">Factura</h4>
            <ul>
                <li>Nro.Factura: #00000{{venta.id}}</li>
                <li>Fecha: 12/12/2021</li>
                <li>Nombre: {{venta.usuario.username}}</li>
                <li>------------------------</li>
                <li>#00{{venta.producto.id}} - {{venta.producto.nombre}} x 2 - {{venta.producto.precio}}$ </li>
                <li>------------------------</li>
                <li>Total: 12$ </li>
                <li>------------------------</li>
            </ul>-->
            <table class="table shopping-summery">
                <thead>
                    <tr class="main-hading">
                        <th>PRODUCT</th>
                        <th>NAME</th>
                        <th>Cantidad</th>
                        <th class="text-center">Precio</th>
                        <th class="text-center">Total</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
        <div class="single-info">
            <h4 class="title">Datos de pago</h4>
            <ul>

                {% if datosPago %}
                    <li>Nro.ref: #00000{{datosPago.nroRef}}</li>
                    <li>Recibo: {{datosPago.recibo}}</li>
                    <li>Fecha de pago: {{datosPago.fecha_pago}}</li>
                {% else %}
                    <li>Nro.ref: Indefinido</li>
                    <li>Recibo: Indefinido</li>
                    <li>Fecha de pago: Indefinido</li>
                {% endif %}

            </ul>
        </div>

        {% if estado_operacion_actual == 'Cancelado' %}
            <ul>
                <li>Estado de la venta: Cancelada</li>
            </ul>
        {% else %}
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="title" value="estado_operacion" hidden>
                <input type="text" name="estado_operacion_actual" value="{{estado_operacion_actual}}" hidden>
                <select name = "items" style="display: none;">
                    {% for i in estado_operacion %}
                        {% if i == estado_operacion_actual %}
                            <option value="{{i}}" selected="">{{i}}</option>
                        {%else%}
                            <option value="{{i}}">{{i}}</option>
                        {%endif%}

                    {% endfor %}
                </select>
                <button type="submit" class="btn">Guardar</button>
            </form>
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="title" value="cancelar_venta" hidden>
                <button type="submit" class="btn">Cancelar Venta</button>
            </form>
        {% endif %}
    </div>
</div>
<div class="col-lg-6 col-12">
    <div class="single-head">
        <div class="single-info">
            <h4 class="title">Datos de envio</h4>
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="title" value="datos_envios" hidden>

                {% for i in form %}
                    <h5>{{i.label}}</h5>
                    <p>{{i}}</p>
                {% endfor %}


                {% if estado_operacion_actual != 'Cancelado' %}
                    <button type="submit" class="btn">boton</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>
