{% extends 'base/base_contenido.html' %}


{% block contenido %}
    <!-- Shopping Summery -->
    <table class="table shopping-summery">
        <thead>
            <tr class="main-hading">
                <th>Nro.Venta</th>
                <th>Product</th>
                <th></th>
                <th class="text-center">Precio</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Total</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Opción</th>
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
                {% for i in object_list %}
                    <tr>
                        <td class="price" data-title="Nro.Venta">
                            <p class="product-name"><span>#000000{{i.id}}</span></p>
                        </td>
                        <td class="image" data-title="Producto" width="150px"><img src="{{i.product.get_image}}" alt="#"></td>
                        <td class="product-des" data-title="Nombre">
                            <p class="product-name"><a href="#">{{i.product.name}}</a></p>
                            <p class="product-des">{{i.product.description|slice:40}}...</p>
                        </td>
                        <td class="price" data-title="Precio"><span>${{i.product.price}} </span></td>
                        <td class="qty" data-title="Cantidad"><span>{{i.quantity}}</span></td>
                        <td class="total-amount" data-title="Total"><span>${{i.total}}</span></td>
                        <td class="total-amount" data-title="Estado"><span>{{i.operating_status.name}}</span></td>
                        <td class="action" data-title="Opción">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                    Opción
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'DetalleCompraDetailView' i.id %}"><i class="fa fa-file-text"></i> Ver datos</a>

                                    {% if i.operating_status.name == 'Esperando pago' %}
                                        <a class="dropdown-item" href="{% url 'CrearDatosPagoCreateView' i.id %}"><i class="fa fa-credit-card-alt"></i> Pagar</a>
                                    {% endif %}

                                    {% if i.operating_status.name != 'Entregado' and i.operating_status.name != 'Cancelado' %}
                                        <a class="dropdown-item" href="{% url 'CrearDatosEnvioCreateView' i.id %}"><i class="fa fa-truck"></i> Datos Envio</a>
                                    {% endif %}

                                    <a class="dropdown-item" href="{% url 'DatosDeContactoTemplateView' i.product.author.id %}"><i class="fa fa-phone-square"></i> Vendedor </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="price" data-title="Nro.Venta">
                        <h4>Vacio</h4>
                    </td>
                    <td class="image" data-title="Producto" width="150px">

                    </td>
                    <td class="product-des" data-title="Nombre">
                    </td>
                    <td class="price" data-title="Precio"><span></span></td>
                    <td class="qty" data-title="Cantidad"><span></span></td>
                    <td class="total-amount" data-title="Total"><span></span></td>
                    <td class="total-amount" data-title="Estado"><span></span></td>
                    <td class="action" data-title="Opción">
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <!--/ End Shopping Summery -->
{% endblock contenido %}

{% block contenido_footer %}
<div class="total-amount">
    <div class="row">
        <div class="col-12">
            <div class="right" style="Padding:0px">
                <ul>
                    <li>
                        {% if page_obj.has_previous %}
                            <a href="?page={{page_obj.previous_page_number}}">Atrás</a>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <span><a href="?page={{page_obj.next_page_number}}">Siguiente</a></span>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock contenido_footer %}
