{% extends 'base/baseContact.html' %}


{% block contenido %}
<div class="col-12">
    <div class="form-main">
            <div class="title">
                <h3>Datos de envio</h3>
            </div>
            <form class="form" method="post" action="">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="form-group">
                            <label>Nombre<span>*</span></label>
                            {{form.name}}
                            <label for="">{{form.errors.name}}</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="form-group">
                            <label>Cedula<span>*</span></label>
                            {{form.dni}}
                            <label for="">{{form.errors.dni}}</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="form-group">
                            <label>Telefono<span>*</span></label>
                            {{form.phone}}
                            <label for="">{{form.errors.phone}}</label>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group message">
                            <label>Direccion<span>*</span></label>
                            {{form.address}}
                            <label for="">{{form.errors.address}}</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group button">
                            <button type="submit" class="btn ">Guardar</button>
                        </div>
                    </div>
                </div>
            </form>
    </div>
</div>

{% endblock contenido%}
